/*This will be my first attempt.
I will gradually look for redundant code and learn
from then on*/

body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

/*This section mainly styles the header*/

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

.logo{
    font-weight: 900;
    font-size: 24px;
    padding: 0 40px;
    color: #F9faf8;
}

.header-links{
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 30px;
}

ul{
    list-style-type: none;
    margin: 40px;
    font-weight: 700;
}

a{
    text-decoration: none;
}

a:visited{
    color: #e5e7eb;
}

/*This section will style the "hero" text*/

.body{
    padding: 100px;
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-between;
}
.heromain{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.herosecond{
    font-size: 18px;
    color: #e5e7eb;
}

.herocontainer{
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    min-width: 700px;
}

.kitty /*, .fish, .volleyball (This may be used in the About Me*/{
    width: 600px;
    height: 400px;
    padding: 30px;
}

/*.volleyball{
    width: 600px; 
    height: 400px; 
    object-fit: cover;
    object-position: 25% 25%; 
} No space on mainpage, may be used in About Me!*/

.mainbutton, .infobutton{
    font-weight: 900;
    background-color: #3882f6;
    border-radius: 20px;
    border: none;
    padding: 10px 30px;
}

.mainbutton{
    font-size: 42px;
}

/*This section will be for information*/
.infocontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.iconcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 52px;
}

.infobutton{
    font-size: 20px;
}

.project{
    display: flex;
    flex-direction: column;
}

/*This section will be for the quote*/
.quotecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5e7eB;
    padding: 20px;
}

.quote{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    max-width: 750px;
    padding: 25px;
    border: 1px solid #b0d2cb;
    border-left-width: 20px;
}


.author{
    font-size: 20px;
    font-weight: 900;
    text-align: right;
}


