
body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/*This section mainly styles the header*/

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

.logo{
    font-weight: 900;
    font-size: 24px;
    padding: 0 40px;
    color: #F9faf8;
}

.header-links{
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 30px;
}

ul{
    list-style-type: none;
    margin: 40px;
    font-weight: 700;
}

a{
    text-decoration: none;
}

a:visited{
    color: #e5e7eb;
}

/*This section will style the "hero" text*/

.body{
    padding: 0 70px;
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-between;
}
.heromain{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.herosecond{
    font-size: 18px;
    color: #e5e7eb;
}

.herocontainer{
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    min-width: 600px;
}

.kitty, .fish, .volleyball{
    width: 600px;
    height: 400px;
    padding: 30px;
}

.volleyball{
    width: 600px; 
    height: 400px; 
    object-fit: cover;
    object-position: 25% 25%; 
}

.mainbutton{
    font-size: 42px;
    font-weight: 900;
    background-color: #3882f6;
    border-radius: 20px;
    border: none;
    padding: 10px 30px;
}

